.text-input {
  max-width: 600px;
}
h1 {
  text-align: center;
  padding: 10px;
}
main {
  height: 100vh;
  display: grid;
  place-content: center;
  margin: 10px;
}
.main-container {
  justify-content: center;
  text-align: center;
  width: 100%;
}

.select-container {
  display: flex;
  justify-content: space-between;
}

.text-input-container {
  display: flex;
  width: 100%;
  padding-top: 10px;
  justify-content: center;
}

.form-select {
  margin: 10px;
}
